*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}

.container{
    width: 80%;
    height: 100%;

    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .box-container{
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.box-container .box{
    width: 100%;
    height:172px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box .box-img{
    width:180px;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img img{
    width: 70%;
    height: 80%;
}
